<div class="page-header">
  <h1>
    Holes
    <a href="/holes/new" class="btn btn-lg btn-success">New Hole</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Course</th>
        <th>Hole number</th>
        <th>Par</th>
        <th>Handicap</th>
        <th>Distance</th>
        <th>Actions</th>
      </tr>

      <% @holes.each do |hole| %>
      <tr>
        <td><%= hole.course_id %></td>
        <td><%= hole.hole_number %></td>
        <td><%= hole.par %></td>
        <td><%= hole.handicap %></td>
        <td><%= hole.distance %></td>
        <td>
          <a href="/holes/<%= hole.id %>" class="btn btn-primary">Show</a>
          <a href="/holes/<%= hole.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_hole/<%= hole.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
