<!-- Validation failure messages -->
<% if @score.errors.any? %>
  <% @score.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Score #<%= @score.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_score/<%= @score.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @score.user_id %>">
      </div>

      <!-- Label and input for hole_id -->
      <div class="form-group">
        <label for="hole_id" class="control-label">
          Hole
        </label>

        <input type="text" id="hole_id" name="hole_id" placeholder="Hole" class="form-control" value="<%= @score.hole_id %>">
      </div>

      <!-- Label and input for score -->
      <div class="form-group">
        <label for="score" class="control-label">
          Score
        </label>

        <input type="text" id="score" name="score" placeholder="Score" class="form-control" value="<%= @score.score %>">
      </div>

      <!-- Label and input for datetime -->
      <div class="form-group">
        <label for="datetime" class="control-label">
          Datetime
        </label>

        <input type="text" id="datetime" name="datetime" placeholder="Datetime" class="form-control" value="<%= @score.datetime %>">
      </div>

      <button class="btn btn-warning">
        Update Score
      </button>
      or
      <a href="/scores/<%= @score.id %>">Cancel</a>
    </form>
  </div>
</div>
