<div class="page-header">
  <h1>
    Scores
    <a href="/scores/new" class="btn btn-lg btn-success">New Score</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Hole</th>
        <th>Score</th>
        <th>Datetime</th>
        <th>Actions</th>
      </tr>

      <% @scores.each do |score| %>
      <tr>
        <td><%= score.user_id %></td>
        <td><%= score.hole_id %></td>
        <td><%= score.score %></td>
        <td><%= score.datetime %></td>
        <td>
          <a href="/scores/<%= score.id %>" class="btn btn-primary">Show</a>
          <a href="/scores/<%= score.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_score/<%= score.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
