<div class="page-header">
  <h3>Score #<%= @score.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @score.user_id %></dd>

      <dt>Hole</dt>
      <dd><%= @score.hole_id %></dd>

      <dt>Score</dt>
      <dd><%= @score.score %></dd>

      <dt>Datetime</dt>
      <dd><%= @score.datetime %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/scores" class="btn btn-primary">
        Back
      </a>
      <a href="/scores/<%= @score.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_score/<%= @score.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
