<div class="page-header">
  <h2><%= @course.course_name %></h2>
</div>
<div class="row">
  <h3>Course Info</h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Course year started</dt>
      <dd><%= @course.course_year_started %></dd>

      <dt>Course street address</dt>
      <dd><%= @course.course_address %></dd>


      <div class="row">
        <h3>Menu</h3>
      </div>

      <% if @course.menu != nil %>
      <dt>Beverage Served</dt>
      <dd><%= @course.menu.soft_beverage %></dd>

      <dt>Beer</dt>
      <dd><%= @course.menu.beer %></dd>

      <dt>Mixed Drink</dt>
      <dd><%= @course.menu.mixed_drink %></dd>

      <dt>Snack</dt>
      <dd><%= @course.menu.snack %></dd>

      <dt>Sandwich</dt>
      <dd><%= @course.menu.sandwich %></dd>

      <% else %>
        No Menu Yet!

      <% end %>

      <div class="row">
        <h3>Weather</h3>
      </div>

      <form action="/street_to_weather">
        <input type="hidden" name="course_address" id="course_address" value="<%= @course.course_address %>">
        <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-sun-o"></i> Tell me the weather! <i class="fa fa-cloud"></i></button>
      </form>

      <div class="row">
        <h3>Map</h3>
      </div>


    </div>

    <% course.comments.each do |comment|  %>

<ul class="media-list">
  <li class="media">
    <div class="media-body">
      <h6 class="media-heading">
        <a href="/users/<%= comment.user_id %>"><%= comment.user.email %></a>
        <small><%= time_ago_in_words(comment.created_at)%> ago</small>
      </h6>
      <%= comment.body %>
    </div>
  </li>
</ul>
<% end %>



  </dl>

  <div class="btn-group btn-group-justified">
    <a href="/courses" class="btn btn-primary">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <a href="/courses/<%= @course.id %>/edit" class="btn btn-warning">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
    <a href="/delete_course/<%= @course.id %>" class="btn btn-danger" rel="nofollow">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </a>
  </div>
</div>
</div>
