<div class="page-header">
  <h3>Course <%= @course.course_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Course name</dt>
      <dd><%= @course.course_name %></dd>

      <dt>Course year started</dt>
      <dd><%= @course.course_year_started %></dd>

      <dt>Course street address</dt>
      <dd><%= @course.course_address %></dd>

      <dt>Beverage Served</dt>
      <dd><%= @course.menu.soft_beverage %></dd>

      <dt>Beer</dt>
      <dd><%= @course.menu.beer %></dd>

      <dt>Mixed Drink</dt>
      <dd><%= @course.menu.mixed_drink %></dd>

      <dt>Snack</dt>
      <dd><%= @course.menu.snack %></dd>

      <dt>Sandwich</dt>
      <dd><%= @course.menu.sandwich %></dd>

      <dl>
        <dt>Current Temperature</dt>
        <dd><%= @current_temperature %></dd>

        <dt>Current Summary</dt>
        <dd><%= @current_summary %></dd>

        <dt>Outlook for next sixty minutes</dt>
        <dd><%= @summary_of_next_sixty_minutes %></dd>

        <dt>Outlook for next several hours</dt>
        <dd><%= @summary_of_next_several_hours %></dd>

        <dt>Outlook for next several days</dt>
        <dd><%= @summary_of_next_several_days %></dd>
      </dl>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/courses" class="btn btn-primary">
        Back
      </a>
      <a href="/courses/<%= @course.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_course/<%= @course.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
