<!-- Validation failure messages -->
<% if @weather.errors.any? %>
  <% @weather.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Weather</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_weather" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for temperature -->
      <div class="form-group">
        <label for="temperature" class="control-label">
          Temperature
        </label>

        <input type="text" id="temperature" name="temperature" placeholder="Temperature" class="form-control" value="<%= @weather.temperature %>">
      </div>

      <!-- Label and input for summary -->
      <div class="form-group">
        <label for="summary" class="control-label">
          Summary
        </label>

        <input type="text" id="summary" name="summary" placeholder="Summary" class="form-control" value="<%= @weather.summary %>">
      </div>

      <!-- Label and input for score_id -->
      <div class="form-group">
        <label for="score_id" class="control-label">
          Score
        </label>

        <input type="text" id="score_id" name="score_id" placeholder="Score" class="form-control" value="<%= @weather.score_id %>">
      </div>

      <button class="btn btn-success">
        Create Weather
      </button>
      or
      <a href="/weathers">Cancel</a>
    </form>
  </div>
</div>
