<h3>Here's the outlook for <%= @street_address %>:</h3>

<div class="row">
  <h3>
    <dt>Current Temperature</dt>
  </h3>
</div>
<dd><%= @current_temperature %></dd>

<div class="row">
  <h3>
    <dt>Current Summary</dt>
  </h3>
</div>
<dd><%= @current_summary %></dd>


<div class="row">
  <h3>
    <dt>Outlook for next sixty minutes</dt>
  </h3>
</div>
<dd><%= @summary_of_next_sixty_minutes %></dd>


<div class="row">
  <h3>
    <dt>Outlook for next several hours</dt>
  </h3>
</div>
<dd><%= @summary_of_next_several_hours %></dd>


<div class="row">
  <h3>
    <dt>Outlook for next several days</dt>
  </h3>
</div>
<dd><%= @summary_of_next_several_days %></dd>

<p><p>
<div class="btn-group btn-group-justified">
  <a href="/courses/" class="btn btn-primary">
    Back
  </a>
